@layer base {
  body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.nav-list {
  display: flex;
  font-size: 16px;
  flex-direction: column;
  gap: 0.5rem;

}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-right: 4px solid transparent;
  cursor: pointer;
  border-radius: 5px;
  color: #4B5563;
  transition: border-color 0.3s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

.nav-item:hover {
  color: #FB9E3A;
  border-color: #FB9E3A;
  background-color: #FCEF91;
  border-right-color: #FB9E3A;
}

.icon-size {
  height: 18px;
  width: 18px;

}

.nav-item:hover .icon-size {
  color: #FB9E3A;

}